{% extends 'components/base.html' %}

{% block content %}
<div class="card-transparent bg-white rounded mb-4">
  <button
    class="btn_go_back"
    onclick="location.href='{% url 'OutfitGeneration:outfit_preseleccion' %}'"
  >
    <svg
      height="16"
      width="16"
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      viewBox="0 0 1024 1024"
    >
      <path
        d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"
      ></path>
    </svg>
    <span>VOLVER</span>
  </button>
</div>

<div class="card-transparent bg-white rounded mb-4">
  <div class="card-body">
    <h5 style="text-align: center">Outfit Generado</h5>
    <div class="row">
      {% if error %}
        <div class="d-flex justify-content-center align-items-center" id="errorMessage">
          <div class="error">
              <div class="error__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none"><path fill="#393a37" d="m13 13h-2v-6h2zm0 4h-2v-2h2zm-1-15c-1.3132 0-2.61358.25866-3.82683.7612-1.21326.50255-2.31565 1.23915-3.24424 2.16773-1.87536 1.87537-2.92893 4.41891-2.92893 7.07107 0 2.6522 1.05357 5.1957 2.92893 7.0711.92859.9286 2.03098 1.6651 3.24424 2.1677 1.21325.5025 2.51363.7612 3.82683.7612 2.6522 0 5.1957-1.0536 7.0711-2.9289 1.8753-1.8754 2.9289-4.4189 2.9289-7.0711 0-1.3132-.2587-2.61358-.7612-3.82683-.5026-1.21326-1.2391-2.31565-2.1677-3.24424-.9286-.92858-2.031-1.66518-3.2443-2.16773-1.2132-.50254-2.5136-.7612-3.8268-.7612z"></path></svg>
              </div>
              <div class="error__title">{{ error }}</div>
          </div>
        </div>
      {% else %}
        {% if outfits %}
          {% for outfit in outfits %}
            <div class="row mb-4 outfit-card">
              <div class="col-lg-4 col-md-6 mb-4">
                <h6>Prenda Superior</h6>
                <div class="img-thumbnail">
                  <img
                    src="{{ outfit.prenda_superior.image }}"
                    alt="Prenda Superior"
                    class="img-fluid"
                    data-clothes-id="{{ outfit.prenda_superior.id }}"
                  />
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4 container_generation">
                <h6>Prenda Inferior</h6>
                <div class="img-thumbnail">
                  <img
                    src="{{ outfit.prenda_inferior.image }}"
                    alt="Prenda Inferior"
                    class="img-fluid"
                    data-clothes-id="{{ outfit.prenda_inferior.id }}"
                  />
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                <h6>Zapato</h6>
                <div class="img-thumbnail">
                  <img
                    src="{{ outfit.zapato.image }}"
                    alt="Zapato"
                    class="img-fluid"
                    data-clothes-id="{{ outfit.zapato.id }}"
                  />
                </div>
              </div>
              <div class="col-lg-12 d-flex justify-content-center">
                <form method="post" action="{% url 'OutfitGeneration:outfit_saving' %}" onsubmit="submitOutfitForm(event, this)">
                  {% csrf_token %}
                  <input type="hidden" name="prenda_superior_id" value="{{ outfit.prenda_superior.id }}">
                  <input type="hidden" name="prenda_inferior_id" value="{{ outfit.prenda_inferior.id }}">
                  <input type="hidden" name="zapato_id" value="{{ outfit.zapato.id }}">
                  <button type="submit" class="btn btn-outline-primary">Guardar Outfit</button>
                </form>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  ScrollReveal().reveal('.outfit-card', {
    duration: 1000,
    origin: 'bottom',
    distance: '50px',
    easing: 'ease-in-out',
    reset: false
  });

  ScrollReveal().reveal('.container_generation', {
    duration: 1000,
    origin: 'top',
    distance: '50px',
    easing: 'ease-in-out',
    reset: false
  });
});

function submitOutfitForm(event, form) {
  event.preventDefault();
  const formData = new FormData(form);

  fetch(form.action, {
    method: 'POST',
    body: formData,
    headers: {
      'X-CSRFToken': form.querySelector('[name="csrfmiddlewaretoken"]').value,
    },
  })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        Swal.fire({
          position: "center",
          icon: "success",
          title: "Tu trabajo ha sido guardado",
          showConfirmButton: false,
          timer: 1500
        });
      } else {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "Error al guardar el outfit: " + data.error,
        });
      }
    })
    .catch(error => {
      console.error('Error:', error);
      Swal.fire({
        icon: "error",
        title: "Oops...",
        text: "Error al guardar el outfit",
      });
    });
}
</script>
{% endblock %}
