{% extends 'components/base.html' %}

{% block content %}
<div class="card-transparent bg-white rounded mb-4">
  <div class="card-body">
    <h5 class="card-title">Filtros</h5>
    <div class="row mt-3" id="filterContainer">
      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>Evento</h6>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="filter_fiesta">
          <label class="form-check-label" for="filter_fiesta">Fiesta</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="filter_boda">
          <label class="form-check-label" for="filter_boda">Boda</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="filter_deportivo">
          <label class="form-check-label" for="filter_deportivo">Deportivo</label>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <h6>Clima</h6>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="filter_dia">
          <label class="form-check-label" for="filter_dia">Día</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="filter_tarde">
          <label class="form-check-label" for="filter_tarde">Tarde</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="filter_noche">
          <label class="form-check-label" for="filter_noche">Noche</label>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mb-3">
      <button class="btn btn-primary">Generar outfit</button>
    </div>
  </div>
</div>

<div class="card-transparent bg-white rounded mb-4">
  <div class="card-body">
    <h5 style="text-align: center;">Outfit Generado</h5>
    <div class="row">
      {% if ctx_clothes %}
        {% for outfit in ctx_clothes %}
        <div class="row mb-4">
          <div class="col-lg-4 col-md-6 mb-4">
            <h6>Prenda Superior</h6>
            <div class="img-thumbnail">
              <img src="{{ outfit.prenda_superior.garment }}" alt="Prenda Superior" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <h6>Prenda Inferior</h6>
            <div class="img-thumbnail">
              <img src="{{ outfit.prenda_inferior.garment }}" alt="Prenda Inferior" class="img-fluid">
            </div>
          </div>
          {% if outfit.zapato %}
            <div class="col-lg-4 col-md-6 mb-4">
              <h6>Zapato</h6>
              <div class="img-thumbnail">
                <img src="{{ outfit.zapato.garment }}" alt="Zapato" class="img-fluid">
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
      {% else %}
        <p>No se pudo generar un outfit recomendado en este momento.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
