{% extends "Base_account/Base_account.html" %}
{%load static%}
{% block content %}

    <form id="form-custom" action="{% url 'Account:login' %}" method="POST" style="width: 200%; align-items: flex-end;">
        {% csrf_token %}
        <h1 style="margin-right: 20px;">Iniciar sesión</h1>
        <input style="width: 40%;" type="text" name="username" placeholder="Email" />
        <input style="width: 40%;" type="password" name="password" placeholder="Contraseña" />
        <a href="#" style="margin-right: 45px;">¿Olvidaste tu contraseña?</a>
        <button style="margin-right: 40px;" class="button" type="submit">Iniciar sesión</button>    
    </form>
    <div class="overlay-panel overlay-right" style="background: linear-gradient(to right, #FF4B2B, #FF416C); color: #FFFFFF; width:100%;">
        <h1>Hola, Bienvenido!</h1>
        <p>Ingresa tus detalles personales para iniciar sesión</p>
        <button onclick="window.location.href='{% url 'Account:registro' %}'" class="button" style="border-color: #FFFFFF;">Crear cuenta</button>
    </div>

{% endblock %}
