{% extends 'components/Base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{ % static 'Assets/css/detail.css' %}">
{% endblock head %}

{% block content %}
<div class="detail-container mt-5">
    <div class="detail-card">
        <div class="detail-card-header text-center bg-primary text-white">
            <h1>Detalle de Prenda</h1>
        </div>
        <div class="card-body">
            <div class="row detail-row">
                <div class="col-12 col-md-6 detail-col-md-6 d-flex align-items-center justify-content-center">
                    <img src="{{ prenda.garment.url }}" alt="Image of {{ prenda.category }}" class="img-fluid detail-img-fluid rounded shadow-sm">
                </div>
                <div class="col-12 col-md-6 detail-col-md-6 mt-3 mt-md-0">
                    <h3 class="text-primary">Categoría: <span class="text-dark">{{ prenda.category }}</span></h3>
                    <h3 class="text-primary">Tipo: <span class="text-dark">{{ prenda.type }}</span></h3>
                    <h3 class="text-primary">Color Dominante:</h3>
                    <div id="colorDisplay" class="detail-color-box mt-2"></div>
                    <div class="mt-4 d-flex justify-content-center justify-content-md-start">
                        <button type="button" class="btn btn-secondary detail-btn detail-btn-secondary mx-2" onclick="goBack()">Regresar</button>
                        <form method="post" action="{% url 'Main:delete_prenda' prenda.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger detail-btn detail-btn-danger mx-2">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }

    document.addEventListener('DOMContentLoaded', function() {
        function rgbToHex(r, g, b) {
            return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1).toUpperCase();
        }

        function displayColor(rgb) {
            const [r, g, b] = rgb;
            const colorBox = document.getElementById('colorDisplay');
            const hexColor = rgbToHex(r, g, b);

            colorBox.style.backgroundColor = `rgb(${r}, ${g}, ${b})`;
            colorBox.title = `RGB: ${r}, ${g}, ${b} - HEX: ${hexColor}`;
        }

        const dominantColor = JSON.parse('{{ prenda.dominant_color|escapejs }}');
        displayColor(dominantColor);
    });
</script>
{% endblock content %}