{% extends 'components/Base.html' %}

{% block content %}
  <div class="col-lg-">
    <div class="d-flex justify-content-between align-items-center px-3 mb-3">
      <div>
        <h1>Hello Andres</h1>
        <h6>Bienvenido</h6>
      </div>
    </div>
  </div>
  <div class="card-transparent bg-white rounded mb-4">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h5 class="heading-title">** CAMBIAR</h5>
        <span class="text-primary">**CAMBIAR</span>
      </div>
    </div>
    <div class="card-header swiper-container d-slider2">
      <div class="swiper-wrapper">
        <div class="card-group">
          <div class="card mx-3">
            <img src="https://i.pinimg.com/564x/9a/c6/f6/9ac6f6ed6cbf58dc8637e9ca46e479b2.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title">Título de la imagen 1</h6>
            </div>
          </div>
          <div class="card mx-3">
            <img src="https://i.pinimg.com/564x/da/e6/22/dae62282d40d02e22f6ac201b9aaa0cc.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title">Título de la imagen 2</h6>
            </div>
          </div>
          <div class="card mx-3">
            <img src="https://i.pinimg.com/564x/94/45/5c/94455c18ca205a141f50146d1855ecf7.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title">Título de la imagen 3</h6>
            </div>
          </div>
          <div class="card mx-3">
            <img src="https://i.pinimg.com/564x/da/e6/22/dae62282d40d02e22f6ac201b9aaa0cc.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title">Título de la imagen 2</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-header swiper-container d-slider2">
      <div class="swiper-wrapper">
        <div class="card-group">
          <div class="card mx-3">
            <img src="https://i.pinimg.com/564x/9a/c6/f6/9ac6f6ed6cbf58dc8637e9ca46e479b2.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title">Título de la imagen 1</h6>
            </div>
          </div>
          <div class="card mx-3">
            <img src="https://i.pinimg.com/564x/da/e6/22/dae62282d40d02e22f6ac201b9aaa0cc.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title">Título de la imagen 2</h6>
            </div>
          </div>
          <div class="card mx-3">
            <img src="https://i.pinimg.com/564x/94/45/5c/94455c18ca205a141f50146d1855ecf7.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title">Título de la imagen 3</h6>
            </div>
          </div>
          <div class="card mx-3">
            <img src="https://i.pinimg.com/564x/da/e6/22/dae62282d40d02e22f6ac201b9aaa0cc.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title">Título de la imagen 2</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
