.button_add {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: #dedede;
  --bg-color: #eee;
  --main-color: #323232;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.button_add, .button__icon, .button__text {
  transition: all 0.3s;
}

.button_add .button__text {
  transform: translateX(22px);
  color: var(--font-color);
  font-weight: 600;
}

.button_add .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_add .svg {
  width: 20px;
  fill: var(--main-color);
}

.button_add:hover {
  background: var(--bg-color);
}

.button_add:hover .button__text {
  color: transparent;
}

.button_add:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button_add:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}