.button_add {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: white;
  --bg-color: white;
  --main-color: #323232;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.button_add, .button_icon, .button_text {
  transition: all 0.3s;
}

.button_add .button__text {
  transform: translateX(22px);
  color: var(--font-color);
  font-weight: 600;
}

.button_add .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_add .svg {
  width: 20px;
  fill: var(--main-color);
}

.button_add:hover {
  background: var(--bg-color);
}

.button_add:hover .button__text {
  color: transparent;
}

.button_add:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button_add:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

/* Radio buttons */
.radio-inputs {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 100%;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 0 auto;
  text-align: center;
  margin-right: 0.5rem;
  min-width: 100px;
}

.radio-inputs .radio:last-child {
  margin-right: 0;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}

/* New Styles for Image Containers */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.image-container img {
    width: 200px;
    height: auto;
    margin: 10px;
    object-fit: cover;
}

@media (max-width: 600px) {
    .image-container img {
        width: 100px;
    }
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.prenda-item {
    flex: 1 0 21%;
    max-width: 21%;
    margin: 10px;
    box-sizing: border-box;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.card img {
    width: 200px; /* Tamaño fijo para todas las imágenes */
    height: 200px; /* Tamaño fijo para todas las imágenes */
    object-fit: cover;
    border: 3px solid #cccccc; /* Borde uniforme */
}

.card img:hover {
    border-color: #b61084;
}