{% extends 'components/base.html' %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <h5 class="heading-title text-center">Outfit generado</h5>
      <div class="row">

        {% comment %} aqui va la imagen del outfit {% endcomment %}
        <div class="col-md-3">
          <div class="card">
              <img class="card-img-top">
              <div class="card-body text-center">
                <h5 class="card-title">outfit </h5>
              </div>
          </div>
      </div>
      </div>
    
      
    </div>
  </div>
 
    
{% endblock %}
