{% extends 'components/base.html' %}

{% block content %}
  <div class="col-lg-">
    <div class="d-flex justify-content-between align-items-center px-3 mb-3">
      <div>
        <h1>Hello Daniel</h1>
        <h6>FashionGen</h6>
      </div>
    </div>
  </div>
  <div class="card-transparent bg-white rounded mb-4">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h5 class="heading-title">Explora tus Outfits</h5>
        <span class="text-primary">--Siguiente</span>
      </div>
    </div>
    <div class="card-header swiper-container d-slider2">
      <div class="swiper-wrapper">
        <div class="card-group">
          <div class="card mx-3">
            <img src="https://www.shutterstock.com/image-vector/hoodie-pant-editable-vector-file-260nw-2141510043.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title">Outfit 1</h6>
            </div>
          </div>
          <div class="card mx-3">
            <img src="https://img.kwcdn.com/product/Fancyalgo/VirtualModelMatting/ee57b5796149001b0be6644aa8f8aca3.jpg?imageView2/2/w/800/q/70" alt="..." />
            <div class="card-body">
              <h6 class="card-title">Outfit 2</h6>
            </div>
          </div>
          <div class="card mx-3">
            <img src="https://img.kwcdn.com/product/open/2023-07-05/1688548837410-b64697c3ea134d5e9f762d00a4d128f3-goods.jpeg?imageMogr2/auto-orient%7CimageView2/2/w/800/q/70/format/webp" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title">Outfit 3</h6>
            </div>
          </div>
          <div class="card mx-3">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71rVnSduz9L._AC_SR462,693_.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title">Outfit 4</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-header swiper-container d-slider2">
      <div class="swiper-wrapper">
        <div class="card-group">
          <div class="card mx-3">
            <img src="https://http2.mlstatic.com/D_NQ_NP_832131-CBT50246615183_062022-O.webp" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title">Outfit 1</h6>
            </div>
          </div>
          <div class="card mx-3">
            <img src="https://ae01.alicdn.com/kf/S6d6a03d4659843e0ba4cec6658bca550c.jpg_640x640Q90.jpg_.webp" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title">Outfit 2</h6>
            </div>
          </div>
          <div class="card mx-3">
            <img src="https://i.pinimg.com/474x/b7/89/f3/b789f3c046e805de8b4cd875beb4ce72.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title">Outfit 3</h6>
            </div>
          </div>
          <div class="card mx-3">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61L52SA3PEL._AC_SR462,693_.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title">Outfit 4</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
