{% extends 'components/base.html' %}

{% block content %}
    <div class="contanier">
        <button class="btn_go_back"  onclick="location.href='{% url 'OutfitGeneration:outfit_preseleccion' %}'">
            <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
            <span>VOLVER</span>
          </button>
    </div>
    <div class="container">
        
        <div class="card-transparent bg-white rounded mb-4">
            <div class="section over-hide z-bigger">
                <div class="section over-hide z-bigger">
                    <div class="container pb-5">
                        <div class="row justify-content-center pb-5">
                            <div class="col-12 pt-5">
                                <p class="mb-4 pb-2">Filtros</p>
                            </div>
                            <div class="col-12 pb-5">
                                <input class="checkbox-tools" type="radio" name="tools" id="tool-1" data-url="{% url 'OutfitGeneration:filtros_outfit_generation' %}">
                                <label class="for-checkbox-tools" for="tool-1">
                                    <i class='bx bx-sun'></i>
                                    DIA
                                </label>

                                <input class="checkbox-tools" type="radio" name="tools" id="tool-2" data-url="{% url 'OutfitGeneration:filtros_outfit_generation' %}">
                                <label class="for-checkbox-tools" for="tool-2">
                                    <i class='bx bx-moon'></i>
                                    NOCHE
                                </label>

                                <input class="checkbox-tools" type="radio" name="tools" id="tool-3" data-url="{% url 'OutfitGeneration:filtros_outfit_generation' %}">
                                <label class="for-checkbox-tools" for="tool-3">
                                    <i class='bx bx-upside-down'></i>
                                    FIESTA
                                </label>
                                
                                

                                <input class="checkbox-tools" type="radio" name="tools" id="tool-4" data-url="{% url 'OutfitGeneration:filtros_outfit_generation' %}">
                                <label class="for-checkbox-tools" for="tool-4">
                                    <i class='bx bx-heart'></i>

                                    BODA
                                </label> 

                                <input class="checkbox-tools" type="radio" name="tools" id="tool-5" data-url="{% url 'OutfitGeneration:filtros_outfit_generation' %}">
                                <label class="for-checkbox-tools" for="tool-5">
                                    <i class='bx bx-rocket'></i>
                                    LIBRE
                                </label>  

                            </div>
                            
                        </div>
                    </div>	
                </div>
            </div>
                
        </div>
    <script>
            document.addEventListener('DOMContentLoaded', function() {
                const radioButtons = document.querySelectorAll('.checkbox-tools[type="radio"]');
        
                radioButtons.forEach(function(radio) {
                    radio.addEventListener('click', function() {
                        const url = this.getAttribute('data-url');
                        if (url) {
                            window.location.href = url;
                        }
                    });
                });
            });
        </script>
{%  endblock %}