<div class="loader simple-loader">
    <div class="loader-body">
        <div class="position-relative">
            <div class="position-absolute" style="top: -20px; z-index: 1;">
                <img src="{{path}}assets/images/logo2.png" class="img-fluid" alt="img1">
            </div>
            <div class="position-relative iq-loader">
                <img src="{{path}}assets/images/Vector.png" class="img-fluid" alt="img1">
            </div>
        </div>
    </div>
</div>
