
<aside class="sidebar sidebar-default sidebar-two navs-pill sidebar-mini">
    <div class="sidebar-header d-flex align-items-center justify-content-start">
        <a href="{{path}}dashboard/index.html" class="navbar-brand">
            {{> partials/components/logo-mini }}
        </a>
    </div>
    <div class="sidebar-body pt-0 data-scrollbar">
        <div class="sidebar-list">
            {{> partials/dashboard/sub-sidebar }}
        </div>
    </div>
</aside>
{{> partials/dashboard/vertical-nav }}