:root {
  --btn-background: #F54114;
  --btn-color: #ffffff;
  --btn-border: #F54114;
  --btn-hover-background: transparent;
  --btn-hover-color: #F54114;
  --star-color: #F54114;
}

.btn_generate_outfitIA {
  position: relative;
  padding: 12px 35px;
  background: var(--btn-background);
  font-size: 17px;
  font-weight: 1000;
  color: var(--btn-color);
  border: 3px solid var(--btn-border);
  border-radius: 8px;
  box-shadow: 0 0 0 #ffffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--star-color));
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--star-color));
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--star-color));
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--star-color));
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--star-color));
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--star-color));
  z-index: -5;
  transition: all 0.8s ease;
}

.btn_generate_outfitIA:hover {
  background: var(--btn-hover-background);
  color: var(--btn-hover-color);
  box-shadow: 0 0 0px var(--btn-hover-color);
}

.btn_generate_outfitIA:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0px var(--btn-hover-color));
  z-index: 2;
}

.btn_generate_outfitIA:hover .star-2 {
  position: absolute;
  top: -0%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0px var(--btn-hover-color));
  z-index: 2;
}

.btn_generate_outfitIA:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0px var(--btn-hover-color));
  z-index: 2;
}

.btn_generate_outfitIA:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0px var(--btn-hover-color));
  z-index: 2;
}

.btn_generate_outfitIA:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0px var(--btn-hover-color));
  z-index: 2;
}

.btn_generate_outfitIA:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0px var(--btn-hover-color));
  z-index: 2;
}

.fil0 {
  fill: var(--btn-background);
}
