button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button span {
    margin-left: 5px;
  }
  