{% extends 'components/base.html' %}
{% block content %}
<div class="card-transparent bg-white rounded mb-4">
    <button
      class="btn_go_back"
      onclick="location.href='{% url 'OutfitGeneration:seleccion_prendas_outfit_generacion' %}'"
    >
      <svg
        height="16"
        width="16"
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        viewBox="0 0 1024 1024"
      >
        <path
          d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"
        ></path>
      </svg>
      <span>VOLVER</span>
    </button>
</div>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="mb-4">Prendas Seleccionadas</h3>
            <div class="row justify-content-center" style="display: ruby;">
                {% if selected_items.superior %}
                <div class="col-md-3">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto d-block" src="{{ selected_items.superior.url }}" alt="{{ selected_items.superior.category }}" style="max-height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">Superior</h5>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if selected_items.inferior %}
                <div class="col-md-3">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto d-block" src="{{ selected_items.inferior.url }}" alt="{{ selected_items.inferior.category }}" style="max-height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">Inferior</h5>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if selected_items.zapatos %}
                <div class="col-md-3">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto d-block" src="{{ selected_items.zapatos.url }}" alt="{{ selected_items.zapatos.category }}" style="max-height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">Zapatos</h5>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if outfits %}
    <div class="card mt-5">
        <div class="card-body">
            <h3 class="mb-4">Outfits Generados</h3>
            <div class="row">
                {% for outfit in outfits %}
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Outfit {{ forloop.counter }}</h5>
                            <div class="d-flex justify-content-between">
                                <div class="card" style="width: 30%;">
                                    <img class="card-img-top" src="{{ outfit.prenda_superior.image }}" alt="{{ outfit.prenda_superior.category }}">
                                    <div class="card-body text-center">
                                        <p class="card-text">{{ outfit.prenda_superior.category }}</p>
                                    </div>
                                </div>
                                <div class="card" style="width: 30%;">
                                    <img class="card-img-top" src="{{ outfit.prenda_inferior.image }}" alt="{{ outfit.prenda_inferior.category }}">
                                    <div class="card-body text-center">
                                        <p class="card-text">{{ outfit.prenda_inferior.category }}</p>
                                    </div>
                                </div>
                                <div class="card" style="width: 30%;">
                                    <img class="card-img-top" src="{{ outfit.zapato.image }}" alt="{{ outfit.zapato.category }}">
                                    <div class="card-body text-center">
                                        <p class="card-text">{{ outfit.zapato.category }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 d-flex justify-content-center">
                                <form method="post" action="{% url 'OutfitGeneration:outfit_saving' %}" onsubmit="submitOutfitForm(event, this)">
                                  {% csrf_token %}
                                  <input type="hidden" name="prenda_superior_id" value="{{ outfit.prenda_superior.id }}">
                                  <input type="hidden" name="prenda_inferior_id" value="{{ outfit.prenda_inferior.id }}">
                                  <input type="hidden" name="zapato_id" value="{{ outfit.zapato.id }}">
                                  <button type="submit" class="btn btn-outline-primary">Guardar Outfit</button>
                                </form>
                              </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning mt-4">No se han podido generar outfits. Inténtelo de nuevo más tarde.</div>
{% endif %}

</div>
<script>
    function submitOutfitForm(event, form) {
      event.preventDefault();
      const formData = new FormData(form);
    
      fetch(form.action, {
        method: 'POST',
        body: formData,
        headers: {
          'X-CSRFToken': form.querySelector('[name="csrfmiddlewaretoken"]').value,
        },
      })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            // alert('Outfit guardado con éxito');
            Swal.fire({
              position: "center",
              icon: "success",
              title: "Your work has been saved",
              showConfirmButton: false,
              timer: 1500
            });
          } else {
            // alert('Error al guardar el outfit: ' + data.error);
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "Error al guardar el outfit"+data.error,
            });
          }
        })
        .catch(error => {
          console.error('Error:', error);
          Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "Error al guardar el outfit",
            });
        });
    }
    </script>
{% endblock %}
