{% extends 'components/Base.html' %}
{% load static %}
{% block content %}
<div id="mainContent">
    <div class="container mt-5">
       
    </div>
    <form id="myForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container mt-4">
            <div class="form-group row">
                <div class="col-md-6" id="Cargar_Penda_Div">
                    <label for="id_prenda">Prenda {{ form.garment }}</label>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Cargar Prenda</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="loader" class="box" style="display: none;">
    <div class="content">
        <video autoplay loop muted id="videoPlayer" class="w-100 h-100">
            <source src="{% static 'image/Class_prenda.mp4' %}" type="video/mp4">
        </video>
    </div>
</div>

<link rel="stylesheet" href="Css/loader.css">
<script src="{% static 'js/loader.js' %}"></script>
<script src="{% static 'js/camera.js' %}"></script>
<script src="{% static 'js/Clasificador_Ropa_IA.js' %}"></script>
{% endblock %}


