{% extends 'components/Base.html' %}
{% load static %}
{% block content %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Registrar Prenda</h4>
                </div>
                <div class="card-body">
                    <div class="form-group mb-4 text-center">
                        <label for="canvas">Foto Capturada:</label>
                        <div id="capturedImageContainer" class="border border-dark p-2 rounded" style="width: 100%; height: 300px; overflow: hidden;">
                            <img src="{{ clothes.garment.url }}" alt="Uploaded Image" style="width: 100%; height: 100%; object-fit: contain;">
                        </div>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_categoria"  class="form-label">Categoría:</label>
                                    {{ form.category }}
                                </div>
                                <div class="form-group">
                                    <label for="id_tipo"  class="form-label">Tipo:</label>
                                    {{ form.type }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label  class="form-label">Color Dominante:</label>
                                    <div hidden>
                                        {{ form.dominant_color }}
                                    </div>
                                    <div id="colorDisplay" class="color-box mt-2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Guardar Prenda</button>
                            <button type="button" class="btn btn-secondary" id="cancelButton">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //Cancelar el formulario
document.getElementById("cancelButton").addEventListener("click", function() {
    // Redirige a la página anterior
    history.back();
});
</script>

<style>
    .color-box {
        width: 25px;
        height: 25px;
        display: inline-block;
        border: 1px solid #000;
    }
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    function rgbToHex(r, g, b) {
        return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1).toUpperCase();
    }

    function displayColor(rgb) {
        const [r, g, b] = rgb;
        const colorBox = document.getElementById('colorDisplay');
        const hexColor = rgbToHex(r, g, b);

        colorBox.style.backgroundColor = `rgb(${r}, ${g}, ${b})`;
        colorBox.title = `RGB: ${r}, ${g}, ${b} - HEX: ${hexColor}`;
    }

    const dominantColor = "{{ form.dominant_color.value|default:'[0, 0, 0]' }}";
    const rgbArray = dominantColor.replace('[', '').replace(']', '').split(',').map(Number);
    displayColor(rgbArray);


});
</script>


<script src="{% static 'js/camera.js' %}"></script>
<script src="{% static 'js/Clasificador_Ropa_IA.js' %}"></script>
{% endblock %}