{% extends 'components/Base.html' %}
{% load static %}
{% block content %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="form-group">
                <label for="canvas">Foto Capturada:</label>
                <div id="capturedImageContainer" class="border border-dark p-2 rounded" style="width: 400px; height: 300px; overflow: hidden;">
                    <img src="{{ clothes.garment.url }}" alt="Uploaded Image" style="width: 100%; height: 100%; object-fit: contain;">    
                </div>
            </div>            
            <form method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="container mt-4">
                    <div class="row justify-content-center">
                        <div class="col-md-6" id="Categoria_Div">
                            <div class="form-group">
                                <label for="id_categoria">Categoría:</label>
                                {{ form.category }}
                                <div id="categoryIcon" class="text-center mt-2">
                                    <i class='bx bx-category icon'></i> <!-- Icono por defecto, se actualizará con JavaScript -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_categoria">Tipo:</label>
                                {{ form.type }}
                            </div>
                        </div>

                        <div class="col-md-6" id="Color_Div">
                            <div class="form-group">
                                <label >Color Dominante:</label>
                                <div hidden>
                                    {{ form.dominant_color }}
                                </div>
                                <div id="colorDisplay" class="color-box"></div>
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Guardar prenda</button>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="col-auto">
                            <button type="button" class="btn btn-secondary" id="cancelButton">Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    //Cancelar el formulario
document.getElementById("cancelButton").addEventListener("click", function() {
    // Redirige a la página anterior
    history.back();
});
</script>

<style>
    .color-box {
        width: 25px;
        height: 25px;
        display: inline-block;
        border: 1px solid #000;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const categoryIcon = document.querySelector('#categoryIcon .icon');
    const categorySelect = document.querySelector('#id_categoria');

    const categoryIcons = {
        "Ankle boot": 'bx bx-boot',
        "Bag": 'bx bx-bag',
        "Coat": 'bx bx-shopping-bag',
        "Dress": 'bx bx-dress',
        "Pullover": 'bx bx-sweater',
        "Sandal": 'bx bx-sandal',
        "Shirt": 'bx bx-shirt',
        "Sneaker": 'bx bx-sneaker',
        "T-shirt": 'bx bx-t-shirt',
        "Trouser": 'bx bx-pants'
    };

    function updateIcon() {
        const selectedCategory = categorySelect.value;
        const iconClass = categoryIcons[selectedCategory] || 'bx bx-category'; // Icono por defecto
        categoryIcon.innerHTML = `<i class='${iconClass} icon'></i>`;
    }

    categorySelect.addEventListener('change', updateIcon);
    updateIcon();


        function rgbToHex(r, g, b) {
            return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1).toUpperCase();
        }

        function displayColor(rgb) {
            const [r, g, b] = rgb;
            const colorBox = document.getElementById('colorDisplay');
            const hexColor = rgbToHex(r, g, b);

            colorBox.style.backgroundColor = `rgb(${r}, ${g}, ${b})`;
            colorBox.title = `RGB: ${r}, ${g}, ${b} - HEX: ${hexColor}`;
        }

        const dominantColor = "{{ form.dominant_color.value|default:'[0, 0, 0]' }}";
        const rgbArray = dominantColor.replace('[', '').replace(']', '').split(',').map(Number);
        displayColor(rgbArray);
    });
</script>

<script src="{% static 'js/camera.js' %}"></script>
<script src="{% static 'js/Clasificador_Ropa_IA.js' %}"></script>
{% endblock %}