{% extends 'components/Base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <button class="cta">
          <span class="hover-underline-animation">Regresar</span>
          <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="40" height="10" viewBox="0 0 46 16">
            <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l9-8Z" transform="translate(30)"></path>
          </svg>
        </button>
      </div>
    </div>
    <form class="row g-3">
      <div class="form-group ">
        <label for="videoElement">Vista de la cámara:</label>
        <div class="embed-responsive embed-responsive-16by9 ">
          <video id="videoElement" class="embed-responsive-item" autoplay></video>
        </div>
      </div>
      <div class="form-group text-center">
        <button type="button" class="btn btn-primary" id="captureButton">Tomar Foto</button>
      </div>
      
      <div class="mb-3">
        <label for="imagen" class="form-label">Seleccionar imagen</label>
        <input type="file" class="form-control" id="imagen" accept="image/*" required />
      </div>
      {% comment %} <button type="submit" class="btn btn-primary">Subir imagen</button> {% endcomment %}

      <div class="col-md-4">
        <label for="inputCity" class="form-label">Categoria</label>
        <input type="text" class="form-control" id="inputCity" />
      </div>
      <div class="col-md-2">
        <label for="inputState" class="form-label">Colores</label>
        <div class="d-flex">
          <label class="form-check-label" for="stateRed" style="background-color: #dc3545; width: 30px; height: 30px; border-radius: 50%; display: block;"></label>
          <label class="form-check-label" for="stateBlue" style="background-color: #0d6efd; width: 30px; height: 30px; border-radius: 50%; display: block;"></label>
          <label class="form-check-label" for="stateYellow" style="background-color: #ffc107; width: 30px; height: 30px; border-radius: 50%; display: block;"></label>
        </div>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Marca</label>
        <input type="text" class="form-control" id="inputZip" />
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Material</label>
        <input type="text" class="form-control" id="inputZip" />
      </div>

      <div class="col-12 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Registrar Prenda</button>
      </div>
    </form>
  </div>
{% endblock %}

